<div class="container">
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./../favicon.ico" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Blog
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category of categories">
                                <a class="dropdown-item" [routerLink]="['/categoria/',category.id]">{{category.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right" *ngIf="identity ==''">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/registro']">Registro</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
                    <li *ngIf="identity && identity.image">
                        <img class="avatar-user" src="{{url + '/users/avatar/' + identity.image}}" alt="avatar-user">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dLabel" href="#" role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            {{identity.name + ' ' + identity.surname}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoria</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['/perfil/' + identity.sub]">Mi perfil</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido -->

    <router-outlet></router-outlet>
    

</div>